$white: rgba(255, 255, 255, 0.3);

.body {
    background: linear-gradient(45deg, #fff293, #ffce56);
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    position: relative;
    top: 0;
}

// .wrapper {
//     background: linear-gradient(45deg, #fc466b, #3f5efb);
//     padding: 0;
//     border: 0;
// }

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form {
    background: $white;
    padding: 15px;
    height: 290px;
    border-radius: 20px;
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px #00000033;
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;

    p {
        font-weight: 500;
        color: darkslategray;
        opacity: 0.7;
        font-size: 1.4rem;
        margin-top: 0;
        margin-bottom: 60px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    p.forgot-password {
        text-decoration: none;
        color: black;
        font-size: 12px;
        text-shadow: none;

        &:hover {
            text-shadow: 2px 2px 6px #00000040;
        }

        &:active {
            text-shadow: none;
        }
    }

    input {
        background: transparent;
        width: 200px;
        padding: 1em;
        margin-bottom: 2em;
        border: none;
        border-left: 1px solid $white;
        border-top: 1px solid $white;
        border-radius: 5000px;
        backdrop-filter: blur(5px);
        box-shadow: 4px 4px 60px #00000033;
        color: darkslategrey;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        text-shadow: 2px 2px 4px #00000033;

        &:hover {
            background: #ffffff1a;
            box-shadow: 4px 4px 60px 8px #00000033;
        }

        &::placeholder {
            color: #00000046;
            text-shadow: none;
        }

        &[type="email"],
        &[type="password"] {
            &:focus {
                background: #ffffff1a;
                box-shadow: 4px 4px 60px 8px #00000033;
            }
        }

        &[type="button"] {
            margin-top: 10px;
            width: 150px;
            font-size: 1rem;

            &:hover {
                cursor: pointer;
            }

            &:active {
                background: #ffffff33;
            }
        }
    }

    &:hover {
        margin: 4px;
    }
}

::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px #00000066;
}

.drop {
    background: $white;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    box-shadow: 10px 10px 60px -8px #00000033;
    position: absolute;
    transition: all 0.2s ease;

    &-1 {
        height: 80px;
        width: 80px;
        top: -20px;
        left: -40px;
        z-index: -1;
    }

    &-2 {
        height: 80px;
        width: 80px;
        bottom: -70px;
        right: -50px;
    }

    &-3 {
        height: 100px;
        width: 100px;
        bottom: 120px;
        right: -50px;
        z-index: -1;
    }

    &-4 {
        height: 120px;
        width: 120px;
        top: -60px;
        right: -60px;
    }

    &-5 {
        height: 60px;
        width: 60px;
        bottom: 170px;
        left: 90px;
        z-index: -1;
    }
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
