@import "../../styles/styles";

button.button {
    @include rounded();
    @include shadowed-box();

    background-color: $secondary-color;
    height: 40px;
    width: 120px;
    margin: 20 auto;
    border: 0.4px solid black;
    cursor: pointer;
    font-weight: 600 !important;

    &:hover {
        background-color: $primary-btn-color;
    }

    p {
        font-size: 20px;
    }
}
