@import "../../styles/styles";

.text-field {
    // height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    max-width: 255px;
}

.text-field textarea {
    @include rounded();
    @include shadowed-box();

    padding: 13px 8px;
    font-size: 16px;
    border-width: 0px;
    background-color: $secondary-color; // #fff293;
    font-style: none;
    resize: none;
    color: black;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #00000046;
        opacity: 1; /* Firefox */
        text-shadow: none;
    }
}

.text-field textarea:focus {
    outline: none;
}
