.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    // row-gap: 20px;
    width: 100%;
    margin-top: auto;
    max-width: 255px;

    .reminder-section,
    .category-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        p {
            font-size: 13px;
            font-weight: 200;
        }

        img {
            height: 13px;
            width: 13px;
            cursor: pointer;

            &:hover {
                filter: brightness(0) saturate(100%) invert(30%) sepia(100%) saturate(4228%) hue-rotate(2deg)
                    brightness(104%) contrast(104%);
            }
        }
    }
}
