.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 30px);
    background-color: #fef7c2;
    // border-radius: 20px;
    padding: 10px;
    border: 5px double #ecd949;
}
