@import "../../styles/styles";

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    font-weight: 200;

    p {
        margin: 0;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 5px 10px;
    // border-bottom: 1px solid black;

    :nth-child(2):hover,
    :last-child:hover {
        &:hover {
            svg > g > path {
                fill: white;
            }
        }
    }
}

.altTitle {
    font-size: 10px;
    margin: 0;
}

.profile {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    background-color: white;
    border: 4px double #ecd949;

    img {
        width: 100%;
    }
}

.profile:hover {
    border-color: a1f180;
    cursor: pointer;
}

.reminder,
.category {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 2px;
    &:hover {
        // border-color: #56e618 !important;
        cursor: pointer;
    }

    img {
        width: 33px;
        background: #fef7c2;
        z-index: 1;
        position: relative;
        border-radius: 30px;
        padding: 2px;
        object-fit: fill;
    }
}

.header-col {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    svg {
        @include rounded();
        @include shadowed-box();

        height: 40px !important;
    }

    &:hover {
        svg > g > path {
            stroke: white;
        }

        p {
            display: flex;
        }
    }

    p {
        display: none;
        font-size: 16px;
    }
}

.onActive {
    background: #a1f180 !important;
}
