.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    font-weight: 200;

    p {
        margin: 0;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 10px;
    // border-bottom: 1px solid black;
}

.altTitle {
    font-size: 10px;
    margin: 0;
}

.profile {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    background-color: white;
    border: 4px double #ecd949;

    img {
        width: 100%;
    }
}

.profile:hover {
    border-color: a1f180;
    cursor: pointer;
}

.reminder,
.category {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 2px;
    &:hover {
        // border-color: #56e618 !important;
        cursor: pointer;
    }

    img {
        width: 33px;
        background: #fef7c2;
        z-index: 1;
        position: relative;
        border-radius: 30px;
        padding: 2px;
        object-fit: fill;
    }
}

.header-col {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.gradient-border {
    --border-width: 3px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 1;
    margin-top: 3px;

    :hover {
        background: #a1f180 !important;
    }

    &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(
            60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%)
        );
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: 100%;
        animation: moveGradient 4s alternate infinite;
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

.onActive {
    background: #a1f180 !important;
}
