.text-field {
    // height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;
}

.text-field textarea {
    padding: 8px;
    font-size: 16px;
    border-width: 4px;
    // border-style: double;
    border-radius: 10px;
    background-color: #fff293;
    border-color: #ffce56;
    font-style: none;
    resize: none;
}

.text-field textarea:focus {
    outline: none;
}
