.button {
    --color: black;
    --background: #82f98cb5;
    --height: 41px;
    --width: 120px;
    --icon: black;
    padding: 0;
    cursor: pointer;
    text-align: center;
    position: relative;
    border: none;
    border-radius: 10px;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    width: var(--width);
    letter-spacing: .5px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color);
    line-height: var(--height);
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    &:before {
        transform: translate(-50%, -50%);
        width: var(--before-w, var(--width));
        height: var(--before-h, var(--height));
        border-radius: var(--before-r, 7px);
        background: var(--background);
        transform-origin: 50% 50%;
        transition: width .3s, height .3s, border-radius .2s;
        transition-delay: .2s;
    }
    &:after {
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        background: var(--icon);
        z-index: 2;
        border-radius: 50%;
        transform: scale(0);
    }
    span {
        z-index: 1;
        display: block;
        position: relative;
        opacity: var(--span-o, 1);
        transform: scale(var(--span-s, 1));
        transition: opacity .3s, transform .2s;
        transition-delay: .2s;
    }
    svg {
        width: 15px;
        height: 13px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        stroke: var(--icon);
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        transform: translate(-50%, -50%);
        stroke-dasharray: 17px;
        stroke-dashoffset: var(--svg-o, 17px);
        transition: stroke-dashoffset .3s ease;
    }
    &.processing {
        --before-w: 41px;
        --before-h: 41px;
        --before-r: 22px;
        --span-o: 0;
        --span-s: .6;
        --after-s: 1;
        --svg-o: 34px;
        &:before {
            animation: pulse 3s linear forwards;
        }
        &:after {
            animation: dot 3s linear forwards;
        }
        svg {
            transition-delay: 3s;
        }
    }
}

@keyframes pulse {
    4% {
        transform: translate(-50%, -50%) scaleX(1.1);
    }
    8% {
        transform: translate(-50%, -50%);
    }
    24%,
    56%,
    88% {
        transform: translate(-50%, -50%) scale(.8);
    }
    40%,
    72% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

@keyframes dot {
    8% {
        transform: scale(0);
    }
    16% {
        transform: scale(1) rotate(30deg) translateX(48px);
    }
    95% {
        transform: scale(1) rotate(1000deg) translateX(48px);
    }
    100% {
        transform: scale(.125) rotate(1050deg) translate(52px, -6px);
    }
}

.restart {
    display: table;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    line-height: 23px;
    color: #404660;
    font-size: 14px;
    font-weight: 500;
    svg {
        margin: 4px 4px 0 0;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: top;
    }
}


* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
} 




//---------
// *, *:before, *:after {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//   }
//   $openSans: 'Open Sans', Helvetica, Arial, sans-serif;
//   body {
//     background: #333;
//     font-family: $openSans;
//   }
  
//   .buttons {
//     margin-top: 50px;
//     text-align: center;
//     border-radius:30px;
//   }
  
//   $cyan: #0505A9;
//   $dark: #FFFFFF;
//   $borderW: 2px;
  
//   .blob-btn {
//     $numOfBlobs: 7;
//     z-index: 1;
//     position: relative;
//     padding: 10px 26px;
//     margin-bottom: 30px;
//     text-align: center;
//     text-transform: uppercase;
//     color: $cyan;
//     font-size: 16px;
//     font-weight: bold;
//     background-color: transparent;
//     outline: none;
//     border: none;
//     transition: color 0.5s;
//     cursor: pointer;
//     border-radius:30px;
    
//     &:before {
//       content: "";
//       z-index: 1;
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       border: $borderW solid $cyan;
//       border-radius:30px;
//     }
    
//     &:after {
//       content: "";
//       z-index: -2;
//       position: absolute;
//       left: $borderW*1.5;
//       top: $borderW*1.5;
//       width: 100%;
//       height: 100%;
  
//       transition: all 0.3s 0.2s;
//       border-radius:30px;
//     }
    
//     &:hover {
//       color: $dark;
//       border-radius:30px;
      
//       &:after {
//         transition: all 0.3s;
//         left: 0;
//         top: 0;
//         border-radius:30px;
//       }
//     }
    
//     &__inner {
//       z-index: -1;
//       overflow: hidden;
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       border-radius:30px;
//       background:#ffffff;
//     }
    
//     // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
//     &__blobs {
//       position: relative;
//       display: block;
//       height: 100%;
//       filter: url('#goo');
//     }
    
//     &__blob {
//       position: absolute;
//       top: $borderW;
//       width: 100% / $numOfBlobs;
//       height: 100%;
//       background: $cyan;
//       border-radius: 100%;
//       transform: translate3d(0,150%,0) scale(1.7);
//       transition: transform 0.45s;
      
//       @supports(filter: url('#goo')) {
//         transform: translate3d(0,150%,0) scale(1.4);
//       }
      
//       @for $i from 1 through $numOfBlobs {
//         &:nth-child(#{$i}) {
//           left: ($i - 1) * (120% / $numOfBlobs);
//           transition-delay: ($i - 1) * 0.08s;
//         }
//       }
      
//       .blob-btn:hover & {
//         transform: translateZ(0) scale(1.7);
        
//         @supports(filter: url('#goo')) {
//           transform: translateZ(0) scale(1.4);
//         }
//       }
//     }
    
//   }







  //=======

// $fuschia: #ff0081;
// $button-bg: $fuschia;
// $button-text-color: #fff;
// $baby-blue: #f8faff;

// // body{
// //   font-size: 16px;
// //   font-family: 'Helvetica', 'Arial', sans-serif;
// //   text-align: center;
// //   background-color: $baby-blue;
// // }

// .bubbly-button{
//   font-family: 'Helvetica', 'Arial', sans-serif;
//   display: inline-block;
//   font-size: 1em;
//   padding: 1em 2em;
// //   margin-top: 100px;
// //   margin-bottom: 60px;
//   -webkit-appearance: none;
//   appearance: none;
//   background-color: $button-bg;
//   color: $button-text-color;
//   border-radius: 4px;
//   border: none;
//   cursor: pointer;
//   position: relative;
//   transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
//   box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
//   width: 100px;

//   &:focus {
//     outline: 0;
//   }
  
//   &:before, &:after{
//     position: absolute;
//     content: '';
//     display: block;
//     width: 110%;
//     height: 100%;
//     left: -20%;
//     z-index: -1000;
//     transition: all ease-in-out 1s;
//     background-repeat: no-repeat;
//   }
  
//   &:before{
//     display: none;
//     top: -75%;
//     background-image:  
//         radial-gradient(circle, $button-bg 20%, transparent 20%),
//         radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
//         radial-gradient(circle, $button-bg 20%, transparent 20%), 
//         radial-gradient(circle, $button-bg 20%, transparent 20%),
//         radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
//         radial-gradient(circle, $button-bg 20%, transparent 20%),
//         radial-gradient(circle, $button-bg 20%, transparent 20%),
//         radial-gradient(circle, $button-bg 20%, transparent 20%),
//         radial-gradient(circle, $button-bg 20%, transparent 20%);
//   background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
//   //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
//   }
  
//   &:after{
//     display: none;
//     bottom: -75%;
//     background-image:  
//     radial-gradient(circle, $button-bg 20%, transparent 20%), 
//     radial-gradient(circle, $button-bg 20%, transparent 20%),
//     radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
//     radial-gradient(circle, $button-bg 20%, transparent 20%),
//     radial-gradient(circle, $button-bg 20%, transparent 20%),
//     radial-gradient(circle, $button-bg 20%, transparent 20%),
//     radial-gradient(circle, $button-bg 20%, transparent 20%);
//   background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
//   //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
//   }
 
//   &:active{
//     transform: scale(0.9);
//     background-color: darken($button-bg, 5%);
//     box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
//   }
  
//   &.animate{
//     &:before{
//       display: block;
//       animation: topBubbles ease-in-out 0.75s forwards;
//     }
//     &:after{
//       display: block;
//       animation: bottomBubbles ease-in-out 0.75s forwards;
//     }
//   }
// }


// @keyframes topBubbles {
//   0%{
//     background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
//   }
//     50% {
//       background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
//  100% {
//     background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
//   background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
//   }
// }

// @keyframes bottomBubbles {
//   0%{
//     background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
//   }
//   50% {
//     background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
//  100% {
//     background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
//   background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
//   }
// }